<?php

/**
 * MessagesApi
 * PHP version 5
 *
 * @category Class
 * @package  MailchimpTransactional
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Mailchimp Transactional API
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.6
 * Contact: apihelp@mandrill.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 * Swagger Codegen version: 2.4.12
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace MailchimpTransactional\Api;

use MailchimpTransactional\ApiException;
use MailchimpTransactional\ApiClient;
use MailchimpTransactional\HeaderSelector;
use MailchimpTransactional\ObjectSerializer;

/**
 * MessagesApi Class Doc Comment
 *
 * @category Class
 * @package  MailchimpTransactional
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class MessagesApi
{
    protected $apiClient;

    public function __construct(ApiClient $apiClient = null)
    {
        $this->apiClient = $apiClient ?: new ApiClient();
    }

    /**
     * /messages/cancel-scheduled
     * Queries your scheduled emails.
     */
    public function cancelScheduled($body = [])
    {
        return $this->apiClient->post('/messages/cancel-scheduled', $body);
    }
    /**
     * /messages/content
     * Get the full content of a recently sent message
     */
    public function content($body = [])
    {
        return $this->apiClient->post('/messages/content', $body);
    }
    /**
     * /messages/info
     * Get the information for a single recently sent message
     */
    public function info($body = [])
    {
        return $this->apiClient->post('/messages/info', $body);
    }
    /**
     * /messages/list-scheduled
     * Queries your scheduled emails.
     */
    public function listScheduled($body = [])
    {
        return $this->apiClient->post('/messages/list-scheduled', $body);
    }
    /**
     * /messages/parse
     * Parse the full MIME document for an email message, returning the content of the message broken into its constituent pieces
     */
    public function parse($body = [])
    {
        return $this->apiClient->post('/messages/parse', $body);
    }
    /**
     * /messages/reschedule
     * Queries your scheduled emails.
     */
    public function reschedule($body = [])
    {
        return $this->apiClient->post('/messages/reschedule', $body);
    }
    /**
     * /messages/search
     * Search recently sent messages and optionally narrow by date range, tags, senders, and API keys. If no date range is specified, results within the last 7 days are returned. This method may be called up to 20 times per minute. If you need the data more often, you can use /messages/info.json to get the information for a single message, or webhooks to push activity to your own application for querying.
     */
    public function search($body = [])
    {
        return $this->apiClient->post('/messages/search', $body);
    }
    /**
     * /messages/search-time-series
     * Search the content of recently sent messages and return the aggregated hourly stats for matching messages
     */
    public function searchTimeSeries($body = [])
    {
        return $this->apiClient->post('/messages/search-time-series', $body);
    }
    /**
     * /messages/send
     * Send a new transactional message through Mandrill
     */
    public function send($body = [])
    {
        return $this->apiClient->post('/messages/send', $body);
    }
    /**
     * /messages/send-raw
     * Take a raw MIME document for a message, and send it exactly as if it were sent through Mandrill&#39;s SMTP servers
     */
    public function sendRaw($body = [])
    {
        return $this->apiClient->post('/messages/send-raw', $body);
    }
    /**
     * /messages/send-template
     * Send a new transactional message through Mandrill
     */
    public function sendTemplate($body = [])
    {
        return $this->apiClient->post('/messages/send-template', $body);
    }
}
