<?php

/**
 * UrlsApi
 * PHP version 5
 *
 * @category Class
 * @package  MailchimpTransactional
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Mailchimp Transactional API
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.6
 * Contact: apihelp@mandrill.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 * Swagger Codegen version: 2.4.12
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace MailchimpTransactional\Api;

use MailchimpTransactional\ApiException;
use MailchimpTransactional\ApiClient;
use MailchimpTransactional\HeaderSelector;
use MailchimpTransactional\ObjectSerializer;

/**
 * UrlsApi Class Doc Comment
 *
 * @category Class
 * @package  MailchimpTransactional
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class UrlsApi
{
    protected $apiClient;

    public function __construct(ApiClient $apiClient = null)
    {
        $this->apiClient = $apiClient ?: new ApiClient();
    }

    /**
     * /urls/add-tracking-domain
     * Add a tracking domain to your account
     */
    public function addTrackingDomain($body = [])
    {
        return $this->apiClient->post('/urls/add-tracking-domain', $body);
    }
    /**
     * /urls/check-tracking-domain
     * Checks the CNAME settings for a tracking domain. The domain must have been added already with the add-tracking-domain call
     */
    public function checkTrackingDomain($body = [])
    {
        return $this->apiClient->post('/urls/check-tracking-domain', $body);
    }
    /**
     * /urls/list
     * Get the 100 most clicked URLs
     */
    public function list($body = [])
    {
        return $this->apiClient->post('/urls/list', $body);
    }
    /**
     * /urls/search (deprecated)
     * Return the 100 most clicked URLs that match the search query given
     */
    public function search($body = [])
    {
        return $this->apiClient->post('/urls/search', $body);
    }
    /**
     * /urls/time-series
     * Return the recent history (hourly stats for the last 30 days) for a url
     */
    public function timeSeries($body = [])
    {
        return $this->apiClient->post('/urls/time-series', $body);
    }
    /**
     * /urls/tracking-domains
     * Get the list of tracking domains set up for this account
     */
    public function trackingDomains($body = [])
    {
        return $this->apiClient->post('/urls/tracking-domains', $body);
    }
}
